<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/time_manager.css" type="text/css">
    <link rel="shortcut icon" href="/images/myfavicon.ico" type="image/x-icon">
    <title>Time Manager | A Simple App</title>
  </head>

  <body>
    <header>
      <div class="flex around" id="main-header">
	<% if session[:username] %>
	<%= erb :signed_in_header, layout: false %>
	<% else %>
	<%= erb :signed_out_header, layout: false %>
	<% end %>
      </div>

      <% if session[:flash] %>
      <div class="flash <%= session[:flash][:type] %>">
	<%= session.delete(:flash)[:message] %>
      </div>
      <% end %>
    </header>

    <main class="center-child">
      <%= yield %>
    </main>

    <footer class="flex evenly">
      <a class="center-vertical" href="https://github.com/johnisom/sinatra_timemanager">
  	<img width="50px" src="/images/github.png">
      </a>
      <div class="center-vertical">
  	John Isom
  	<small class="name">&copy; 2019</small>
      </div>
    </footer>
  </body>
  
</html>
