<div class="flex between" id="view">
  <pre><%= @content %></pre>

  <form class="flex-vertical spaced-form" action="/view">
    <h2>Filter Results (optional)</h2>

    <h3>Select Timeframe</h3>
    <div class="flex between">

      <div class="flex-vertical">
	<input class="input" name="timeframe_from" id="timeframe_from" type="number" min="1" placeholder="from _ days ago" value="<%= params[:timeframe_from] %>">
      </div>

      <div class="flex-vertical">
	<input class="input" name="timeframe_to" id="timeframe_to" type="number" min="0" placeholder="up to _ days ago" value="<%= params[:timeframe_to] %>">
      </div>

    </div>

    <h3>Select View Option</h3>
    <select class="input" name="view_option" id="view_option">
      <option class="input" value="default"<%= ' selected' if params[:view_option] == 'default' %>>default</option>
      <option class="input" value="daily-digest"<%= ' selected' if params[:view_option] == 'daily-digest' %>>daily-digest</option>
      <option class="input" value="day-delimited"<%= ' selected' if params[:view_option] == 'day-delimited' %>>day-delimited</option>
      <option class="input" value="weekly-digest"<%= ' selected' if params[:view_option] == 'weekly-digest' %>>weekly-digest</option>
      <option class="input" value="week-delimited"<%= ' selected' if params[:view_option] == 'week-delimited' %>>week-delimited</option>
    </select>

    <button class="button">Apply Filters</button>
  </form>
</div>
